<div class="video-card" [attr.data-id]="video.id">
  <div class="thumbnail">
    <img [src]="convertToSupabaseUrl(`${video.thumbnailPath}`,'thumbnail')" alt="video thumbnail"/>
    <div class="like-overlay">
      <!--      <span class="heart">❤</span>-->
      <!--      <span class="count">{{ video.likes }}</span>-->
    </div>
  </div>
  <div class="video-info">
    <h4 class="video-title">{{ video.title }}</h4>
    <p class="video-meta">
      <span class="username">{{ video.profile?.username }}</span> •
      <span class="date">{{ video.createdAt }}</span>
    </p>
  </div>
</div>
