<div class="container">


  <div class="left-container" #pageContainer>
    <button mat-icon-button class="btn-close" aria-label="Close" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
    <div class="frame-video" [ngStyle]="getCardBoxStyle(video())">


      @if (videoId && videoId != '') {
        <!--        <app-dialog-video [aspectRatio]="'9:16'"-->
          <!--                          videoSrc="{{convertToSupabaseUrl(`${videoId}/master.m3u8`,'video')}}"></app-dialog-video>-->

        <app-video
          style="width: 100%; height: 100%;"
          [videoId]="videoId"
          aspectRatio="{{this.video().aspectRatio}}"
          [thumbnailPath]="this.video().thumbnailPath"
          (videoReady)="onVideoReady()"
          videoSrc="{{convertToSupabaseUrl(`${videoId}/master.m3u8`,'video')}}"
          [ngStyle]="{display: videoReadyStates ? 'block' : 'none'}">
        </app-video>
      }

    </div>

  </div>

  <div class="right-container">
    <div style="flex: 1 ; display: flex; flex-direction: column; gap:10px; overflow: auto">
      <div class="top-right-container">
        <div class="info-user">
          <div class="frame-avatar" [routerLink]="['/profile', (videoDetail$ | async)?.profile?.id, 'videos'] "
               (click)="$event.stopPropagation(); closeDialog()">

            <!-- Avatar -->
            <div class="info">
              <img class="avatar"
                   [src]="this.userAvatar | avatar"
                   alt="avatar">

              <!-- Info -->
              <div class="info-username">
                <span class="username">{{ this.username }} </span>
              </div>

            </div>

            <!-- Button -->
            @if (!isCurrentUserSignal()) {
              @if (videoDetail$ | async; as video) {
                <button mat-flat-button (click)="toggleFollow(video, video.profile?.isFollowing ?? false)">
                  {{ video.profile?.isFollowing ? '✓ Following' : '+ Follow' }}
                </button>
              }
            }


          </div>

        </div>
        <div class="title">
          <span class="title-text">{{ this.title }} </span>
          <span class="description" [ngClass]="{ 'collapsed': !isExpanded }"
                [ngStyle]="{'maxWidth': isExpanded ? '' : '100%'}">{{ this.description }}</span>
        </div>
        <button class="toggle-btn" (click)="isExpanded = !isExpanded">
          {{ isExpanded ? 'Thu gọn' : 'Xem thêm' }}
        </button>
        <div class="actions-bar">
          <button mat-button class="heart" [class.active]="isFavoriteActive"
                  (click)="isFavoriteActive = !isFavoriteActive">
            @if (isFavoriteActive) {
              <mat-icon>favorite</mat-icon>
            } @else {
              <mat-icon>favorite_border</mat-icon>
            }
            <span>10N</span>
          </button>
          <button mat-button class="action" [class.active]="isSavetagActive"
                  (click)="isSavetagActive = !isSavetagActive">
            @if (isSavetagActive) {
              <mat-icon>bookmark</mat-icon>
            } @else {
              <mat-icon>bookmark_border</mat-icon>
            }
            <span>10N</span>
          </button>
          <button mat-button class="comment">
            <mat-icon>chat_bubble_outline</mat-icon>
            <span>10N</span>
          </button>
        </div>
        <div class="comment-section">
          <!-- Header -->
          <div class="comment-header">

          </div>
          <div class="comment-list">
            <!-- Comment List with @for -->
            @for (c of comments; track c.id) {
              <div class="comment">
                @if (c.profile && c.profile.avatarPath) {
                  <div class="avatar">
                    <img src="{{ (c.profile.avatarPath | avatar)}}"
                         alt="{{c.profile?.avatarPath}}"/>
                  </div>
                }
                <div class="comment-content">
                  <p><strong>{{ c.profile?.username }}</strong> {{ c.content }}</p>
                  <span class="date">{{ c.createdAt | date : "MMM dd, yyyy" }}</span>
                </div>
              </div>
            }
          </div>

        </div>
      </div>
      <div class="bottom-right-container">


      </div>
    </div>
    <div class="frame-comment">
      <mat-form-field appearance="outline" class="comment-input">
        <mat-label>Thêm bình luận</mat-label>
        <input
          matInput
          placeholder="Viết bình luận..."
          [(ngModel)]="commentContent"
          (keydown.enter)="createComment()"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="createComment()"
        >
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>


<!--'detail.thumbnailPath','thumbnail'-->
<!--'id/master.m3u8','video'-->
