/* Grid container */
.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(clamp(150px,16%, 220px), 1fr));
  gap: 1%; /* khoảng cách giữa card */
  justify-content: start; /* dồn trái, không căn đều */
  padding: 1%;
  max-width: 1200px;
  margin: 0 auto;
}

.video-card {
  min-width: 150px;  /* để responsive không bị quá bé */
  max-width: 220px;  /* hạn chế to quá */
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative; /* để nút delete bám vào */
}

/* Thumbnail */
.thumbnail {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 3.6; /* làm thumbnail cao hơn một chút */
  overflow: hidden;
  border-radius: 1%;
  background: var(--mat-sys-background);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .like-overlay {
    position: absolute;
    bottom: 8px;
    left: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 3px 8px;
    border-radius: 12px;

    color: var(--mat-sys-on-primary);
    font-size: 13px;  // giữ px cố định
    font-weight: 500;

    .heart {
      font-size: 15px;  // giữ px cố định
      color: var(--mat-sys-on-primary);
    }
  }
}

/* Nút thùng rác */
.video-info button[mat-icon-button] {
  position: absolute;
  bottom: 8px;   /* góc dưới */
  right: 8px;    /* bên phải */
  z-index: 2;
  border-radius: 0%;
}

/* Info */
.video-info {
  margin-top: 8px;
}

.video-title {
  font-size: 14px;  // giữ px cố định
  font-weight: 600;
  margin: 0;
  color: var(--mat-sys-on-surface);
  max-width: 75%;
  display: -webkit-box;
  -webkit-line-clamp: 2;    /* tối đa 2 dòng */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-meta {
  font-size: 12px;  // giữ px cố định
  color: #555;
  margin-top: 2px;
}

.username {
  font-weight: 500;
}

/* Chips box */
.box {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 1200px;
  margin: 0 auto 0 auto;
  padding: 0 2%;

  mat-chip.selected {
    background-color: var(--mat-sys-primary-fixed-dim);
    color: white;
  }
}

mat-chip {
  cursor: pointer;
  transition: all 0.2s ease;
}

mat-chip.selected {
  background-color: #ff0050;
  color: #fff;
  font-weight: bold;
}
