<mat-toolbar class="mat-elevation-z2">
  <div class="header-container">
    <div>
      <button mat-icon-button (click)="this.toggleMenu();">
        <mat-icon>
          menu
        </mat-icon>
      </button>

      <h1>{{ this.headerTitle }}</h1>
    </div>

    <div>
      <button mat-flat-button class="create-btn"
              #createMenuTrigger="matMenuTrigger"
              [matMenuTriggerFor]="canOpenCreateMenu ? createMenu : null"
              (click)="openCreateMenu($event, createMenuTrigger)">
        <mat-icon>add</mat-icon>
        Create
      </button>
      <mat-menu #createMenu="matMenu" (closed)="onCreateMenuClosed()">
        <button mat-menu-item>
          <mat-icon>playlist_add</mat-icon>
          Playlist
        </button>
        <button mat-menu-item [routerLink]="'/upload'">
          <mat-icon>video_library</mat-icon>
          Video
        </button>
      </mat-menu>


      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <img class="avatar" src="avatar.png" alt="">
      </button>
      <mat-menu #userMenu="matMenu">
        <button (click)="logOut()" mat-menu-item>
          <mat-icon>logout</mat-icon>
          Logout
        </button>
        <button mat-menu-item [routerLink]="'/profile/1'">
          <span class="avatar">
            <mat-icon>account_circle</mat-icon>
          </span>
          Profile
        </button>
      </mat-menu>
    </div>
  </div>

</mat-toolbar>
