<div class ="add-container">
<div class ="add-header">
  <div class ="header-text">
    <h2>Select videos</h2>
  </div>
  <mat-icon (click)="closeDialog()">close</mat-icon>
</div>

<div class ="select-video">
@for (item of addVideos; track item.id) {
  <mat-card class="video" appearance="outlined" >
    <mat-checkbox></mat-checkbox>
    <img mat-card-image src="{{item.thumbnailUrl}}" alt="{{item.title}}">
    <mat-card-header>
      <mat-card-title>{{item.title}}</mat-card-title>
    </mat-card-header>
  </mat-card>
}

</div>

<div class = "add-footer">
  <button mat-flat-button>Add videos</button>
</div>
</div>
