.add-container {
  width: 25vw;
  height: 60vh;
  overflow-y: auto;
}

.add-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header-text {
  text-align: center;
  flex: 1;
}

.select-video {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}

.video {
  position: relative;
  padding: 1rem;
  cursor: pointer;
  border: none;
}

img {
  width: 200px;
  height: 300px;
  border-radius: 8px;
}

mat-checkbox {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
  border-radius: 50%;
  padding: 4px;
}

mat-card-title {
  margin-top: 10px;
  font-size: 1rem;
  padding: 0 0 0 1.9rem;
  text-align: center;
}

button {
  margin-top: 10px;
  width: 90%;
  margin-left: 1.5rem;

}
