<div class="dialog-header">
  <h2 mat-dialog-title>Edit profile</h2>
  <mat-icon (click)="onNoClick()">close</mat-icon>
</div>

<mat-dialog-content>
  <form [formGroup]="form">
    <div class="profile-edit">
      <h3>Profile photo</h3>
      <div class="profile-photo-container">
        <div class="profile-photo">
          @if (profileImageUrl) {
            <img [src]="builderProfileImageUrl() " alt="username">
          }
        </div>
        <div class="photo-edit-icon" (click)="onEditPhotoClick()">
          <mat-icon>edit</mat-icon>
        </div>
        <input
          type="file"
          id="profile-photo-input"
          accept="image/*"
          style="display: none;"
          (change)="onFileSelected($event)">
        @if (form.get('profileImage')?.invalid && form.get('profileImage')?.touched) {
          <div class="error">
            Profile image is required.
          </div>
        }

      </div>
    </div>

    <div class="username-edit">
      <div class="username-edit-title">
        <h3>Username</h3>
      </div>
      <div class="username-edit-detail">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Username" formControlName="username"/>
        </mat-form-field>
        @if (form.get('username')?.invalid && form.get('username')?.touched) {
          <div class="error">
            @if (form.get('username')?.errors?.['required']) {
              <span>Username is required.</span>

            }

          </div>
        }
      </div>
    </div>

    <div class="bio-edit">
      <div class="bio-edit-title">
        <h3>Bio</h3>
      </div>
      <div class="bio-edit-detail">
        <mat-form-field appearance="outline">
          <textarea matInput placeholder="Bio" formControlName="bio" maxlength="80"
                    (input)="updateBioCount()"></textarea>
        </mat-form-field>
        @if (form.get('bio')?.errors?.['maxlength'] && form.get('bio')?.touched) {
          <div class="error">
            Bio cannot exceed 80 characters.
          </div>
        }

        <p>{{ bioCount }}/80</p>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSave()">Save</button>
</mat-dialog-actions>
