.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(clamp(150px, 16%, 220px), 1fr));
  gap: 1%; /* khoảng cách giữa card */
  justify-content: start; /* dồn trái, không căn đều */
  padding: 1%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  overflow-y: auto;
  
}
