mat-card-content h3 {
  font-size: 16px;
  font-weight: 600;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  align-items: center;
  gap: 8px;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  // turn off scrollbar for webkit browsers
  &::-webkit-scrollbar {
    display: none;
  }
}

.card-title {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  overflow-x: hidden;
}

@media (max-width: 400px) {
  .grid-list {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

.thumbnail {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 4;
  overflow: hidden;
  border-radius: 8px;


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .like-overlay {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 3px 8px;
    font-size: 16px;
    border-radius: 12px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;

    .heart {
      font-size: 16x;
      color: var(--mat-sys-on-primary);
    }
  }
}
