
mat-card-content h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 4px 0 2px 0;
}

.card-title {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

mat-card-content p {
  margin: 2px 0; /* thu hẹp khoảng cách */
  font-size: 13px;
  color: #666; /* màu nhạt hơn cho ngày */
}


.grid-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
  //padding: 20px;
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;

}


.thumbnail {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 4;
  overflow: hidden;
  border-radius: 8px;


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .like-overlay {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 3px 8px;
    border-radius: 12px;

    color: #fff;
    font-size: 13px;
    font-weight: 500;

    .heart {
      font-size: 15px;
      color: var(--mat-sys-on-primary);
    }
  }
}
