<!--em sẽ code ơ đây -->

<div class="profile-container">
  <div class="profile-image">
    <img class="user-image" [src]="profileImageUrl" alt="User's image">
  </div>
  <div class="profile-information">
    <h2>{{ username }}</h2>
    <button mat-flat-button (click)="openDialog()">
      <mat-icon>edit</mat-icon>
      Edit profile
    </button>
    <div class="stats">
      <h3 (click)="openDialogUser('followers')"> {{ followers.length }} followers</h3>
      <h3 (click)="openDialogUser('following')"> {{ following.length }} following</h3>
    </div>
    <p class="bio">{{ bio }}</p>
  </div>
</div>
<!-- Đừng đụng vô cái ở dưới anh làm xong rồi nha-->
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="selectedIndex"
               (selectedIndexChange)="onTabChange($event)">

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Videos
    </ng-template>
    @if (selectedIndex == 0) {
      <ng-container>
        <app-video></app-video>
      </ng-container>
    }
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Playlists
    </ng-template>
    @if (selectedIndex == 1) {
      <ng-container>
        <app-playlist></app-playlist>
      </ng-container>
    }
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Liked Videos
    </ng-template>
    @if (selectedIndex == 2) {
      <ng-container>
        <app-liked-videos></app-liked-videos>
      </ng-container>
    }
  </mat-tab>

</mat-tab-group>
