.video-card {
  min-width: 150px; /* để responsive không bị quá bé */
  max-width: 220px; /* hạn chế to quá */
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid transparent;
}

.thumbnail {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 4; /* làm thumbnail cao hơn một chút */
  overflow: hidden;
  object-fit: cover;
  border-radius: 1%;
  background: var(--mat-sys-background);

  img {
    width: 100%;
    height: 100%;
  }
}

.video-info {
  margin-top: 8px;
}

mat-card-content {
  padding: 0 !important;
}

.title {
  font-size: 14px; // giữ px cố định
  font-weight: 600;
  margin: 0;
  color: var(--mat-sys-on-surface);
  max-width: 75%;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* tối đa 2 dòng */
  -webkit-box-orient: vertical;
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.date {
  font-size: 0.8rem;
}

.video-card :hover {
  cursor: pointer;
}

.video-stats {
  font-size: 12px; // giữ px cố định
  color: #555;
  margin-top: 2px;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.video-user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.username {
  display: inline-block;
  width: 50px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}
