<mat-card class="video-card" appearance="outlined" (click)="openDialog()">
  <img mat-card-image
       src="{{convertToSupabaseUrl(likedVideoCard!.thumbnailPath, 'thumbnail')}}"
       alt="Video Placeholder Image">
  <mat-card-content>
    <span class="title">{{ likedVideoCard.title }}</span>
    <div class="video-stats">
      <div class="video-user">
        <img class="avatar" [src]="likedVideoCard.profile?.avatarPath! | avatar"
             referrerpolicy="no-referrer"
             alt="User Avatar">
        <span class="username">{{ likedVideoCard.profile?.username }}</span>
      </div>
      <div class="video-date">
        <span class="date">{{ likedVideoCard.createdAt | date }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
