@if (profiles$ | async; as item) {
  <div class="search-header">

    <mat-icon [routerLink]="['/search']" [queryParams]="{ q: this.query }">chevron_left</mat-icon>
    <span>Search</span>
  </div>

  <div class="user-search">


    <div class="user-search-detail">
      <div class="user-search-detail-container">
        <img src="{{item.avatarPath}}"
             alt="User profile">
        <div class="user-search-detail-stats">

          <span class="username">{{ item.username }}</span>
          @if (item.followersCount == 1) {
            <span class="username-detail">{{ item.followingCount }} follower</span>
          } @else {
            <span class="username-detail">{{ item.followersCount }} followers</span>
          }

          <span class="username-detail">{{ item.bio }}</span>
        </div>
      </div>

      <div class="button">
        <button mat-flat-button>Follow</button>
      </div>
    </div>

  </div>
}
