<div class="search-header" [routerLink]="['/search']" [queryParams]="{ q: this.query }">
  <mat-icon>chevron_left</mat-icon>
  <span>Search</span>
</div>

@for (profile of allProfiles$ | async; track profile.id) {

  <div class="user-search" (click)="$event.stopPropagation() ; navigateToProfile(profile.id)">


    <div class="user-search-detail">
      <div class="user-search-detail-container">
        <img src="{{profile.avatarPath | avatar}}"
             referrerpolicy="no-referrer"
             alt="User profile">
        <div class="user-search-detail-stats">

          <span class="username">{{ profile.username }}</span>
          @if (profile.followersCount == 1) {
            <span class="username-detail">{{ profile.followersCount }} follower</span>
          } @else {
            <span class="username-detail">{{ profile.followersCount }} followers</span>
          }

          <span class="username-detail">{{ profile.bio }}</span>
        </div>
      </div>

      <!--      <div class="button">-->
      <!--        <button mat-flat-button>Follow</button>-->
      <!--      </div>-->
    </div>

  </div>

}
