.video-container {
  margin-top: 10px;
  display: flex;
  justify-content: center; /* centers content horizontally */
}


.video-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* 4:3 aspect ratio for cards */
  gap: 3rem; /* spacing between images */
}


.button {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
