<div class="user-search">
  <div class="search-header">
    <span>Users</span>
    <mat-icon>chevron_right</mat-icon>
  </div>
  <div class="user-search-detail">
    <div class="user-search-detail-container">
      <img src="https://icons.iconarchive.com/icons/papirus-team/papirus-status/256/avatar-default-icon.png"
           alt="User profile">
      <div class="user-search-detail-stats">
        <span>Username</span>
        <span>0 followers</span>
        <span>Bio</span>
      </div>
    </div>

    <div class="button">
      <button mat-flat-button>Follow</button>
    </div>
  </div>
</div>

<div class="video-search">
  <div class="search-header">
    <span>Videos</span>
    <mat-icon>chevron_right</mat-icon>
  </div>
  <div class="video-container">
    <div class="video-grid">
      <!--      <app-video-card></app-video-card>-->
      <!--      <app-video-card></app-video-card>-->
      <!--      <app-video-card></app-video-card>-->
      <!--      <app-video-card></app-video-card>-->
    </div>
  </div>
</div>
