<div class="container">
  <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8"
             cdkDropList (cdkDropListDropped)="drop($event)"
             cdkDropListData="dataSource">
    <div class="video">
      <ng-container matColumnDef="position" sticky>
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let video">
          <span class="drag-cursor"></span>
          <img [src]="video.thumbnail" alt="thumbnail" width="200px" height="150px" style="padding: 10px">
          <div class="info-detail">
            <span>{{ video.title }}</span>
            <span>{{ video.user }}</span>
          </div>
        </mat-cell>
      </ng-container>
    </div>

    <div class="trash">
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let video">
          <mat-icon>delete</mat-icon>
        </mat-cell>
      </ng-container>
    </div>


    <mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"></mat-row>
  </mat-table>
</div>
