<div class="playlist-container" [ngStyle]="backgroundImageStyle">
  <div class="playlist-background-blur"></div>
  <div class="playlist-background-gradient"></div>
  <div class="playlist-detail">

    <div class="playlist-detail-stats">
      <span class="name">{{ playlistDetail?.name }}</span>


      @if (playlistDetail.video == 1) {
        <span class="stats">{{ playlistDetail?.video }} video</span>
      } @else {
        <span class="stats">{{ playlistDetail?.video }} videos</span>
      }




      <span class="stats">Created by <img src="{{playlistDetail?.avatar}}"
                                          alt="User profile">{{ playlistDetail?.username }}</span>
    </div>

    <div class="button">
      <button mat-button (click)="openDialogmakePublic()">Make public</button>
      <button mat-button (click)="openDialogDeletePlaylist()">Delete Playlist</button>
      <button mat-button (click)="openDialogChangeName()">Change Name</button>
    </div>
  </div>
</div>
