@if (!(isLoading$ | async)) {
  @if (playListDetail$ | async; as playlist) {
    <!-- Playlist Hero Section (Dynamic) -->
    <div class="playlist-hero">
      <div class="bg"
           [ngStyle]="{'background-image': 'url(' + (playlistDetail?.thumbnailPath? convertToSupabaseUrl(playlistDetail.thumbnailPath, 'thumbnail') : '') + ')'}"></div>
      <div class="overlay-dark"></div>
      <div class="overlay-gradient"></div>
      <div class="header">
        <div class="header-content">
          <img class="cover"
               [src]="playlistDetail?.thumbnailPath? convertToSupabaseUrl(playlistDetail.thumbnailPath, 'thumbnail') : ''"
               alt="Playlist Cover"/>
          <div class="meta">
            <div class="eyebrow">Playlist</div>
            <h1 class="title">{{ playlistDetail?.title }}</h1>
            <div class="owner">
              <img [src]="playlistDetail.profile?.avatarPath | avatar"
                   alt="{{playlistDetail.profile?.username}}"/>
              <div>
                <div style="font-weight:600;">{{ playlistDetail.profile?.username }}</div>
                <div class="sub">{{ playlist.videos?.length || 0 }}
                  video{{ (playlist.videos?.length || 0) === 1 ? '' : 's' }}
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="button">
          <button mat-button (click)="openDialogmakePublic()">Make public</button>
          <button mat-button (click)="openDialogDeletePlaylist()">Delete Playlist</button>
          <button mat-button (click)="openDialogChangeName()">Change Name</button>
        </div>
      </div>
    </div>

    <div class="video-container">
      <div class="video-grid">
        @for (item of playlist.videos; track item.id) {
          <app-video-card [video]="item"></app-video-card>
        }
      </div>
    </div>
  }
}




