<div class="container">

  <div style="display: flex; width: 100%; flex:1; height: 100% " class="main">
    <div class="left-container">
      <div class="video-layout">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2uTdKzWI0Qn5LbEtKDd2DusxiMvAi8W0vKQ&s" alt="">
      </div>
    </div>

    <div class="right-container">
      <div class="task-icon">
        <button class="icon-btn">
          <mat-icon>favorite</mat-icon>
        </button>
        <button class="icon-btn">
          <mat-icon>chat</mat-icon>
        </button>
        <button class="icon-btn">
          <mat-icon>share</mat-icon>
        </button>
        <button class="icon-btn">
          <mat-icon>bookmark</mat-icon>
        </button>
        <button class="icon-btn">
          <mat-icon>person</mat-icon>
        </button>
      </div>

    </div>
  </div>

</div>

