mat-sidenav-container {
  height: 100vh;
  padding: 10px 0 0 10px;
  background-color: #f8faf4;
}

mat-sidenav {
  margin: 10px 0;
  padding: 10px;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12), 0 1.5px 4px rgba(0, 0, 0, 0.08);
  /* Remove border */
  border: none;
}

mat-sidenav-content {
  padding: 0;
}

.content {
  padding: 16px;
  border-radius: 16px;
  width: 100%;
  flex: 1;
  overflow: auto;
}

.with-background {
  background-color: var(--mat-sys-surface);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12), 0 1.5px 4px rgba(0, 0, 0, 0.08);

  //max-width: 1200px;
  margin: 10px auto 10px auto;
  position: relative;
  z-index: 1000;
}
