<mat-toolbar>
  <button mat-icon-button (click)="collapsed.set(!collapsed());">
    <mat-icon>
      menu
    </mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z1" [opened]="!isSmallScreen ? true : !collapsed()"
               (closedStart)="collapsed.set(true)"
               [mode]="sidebarMode()"
               [style.width]="this.sidebarWidth()"
               [style.transition]="!isSmallScreen? 'all 0.3s ease-in-out' : 'none'"
  >
    <app-sidebar [collapsed]="collapsed()"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content [style.margin-left]="this.calculateMargin()"
                       [style.transition]="!isSmallScreen? 'all 0.3s ease-in-out' : 'none'">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
