<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z1" [opened]="!isSmallScreen ? true : !collapsed()"
               (closedStart)="collapsed.set(true)"
               [mode]="sidebarMode()"
               [style.width]="this.sidebarWidth()"
               [style.transition]="!isSmallScreen? 'all 0.3s ease-in-out' : 'none'"
  >
    <app-sidebar [collapsed]="collapsed()"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content [style.margin-left]="this.calculateMargin()"
                       [style.transition]="!isSmallScreen? 'all 0.3s ease-in-out' : 'none'">
    <div style="height: 100%; width: 100%; display: flex; flex-direction: column">
      <app-header (toggleMenuEvent)="toggleSidebar()"></app-header>


      @if (!(isLoggingIn$| async)) {
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      } @else {
        <div
          style="height: 100%; width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>


        </div>
      }
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
