mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-toolbar {
  position: relative;
  z-index: 2;
}

::ng-deep .mdc-list-item--with-leading-icon .mdc-list-item__start {
  margin-inline-start: 19px !important;
  margin-inline-end: var(--mat-list-list-item-leading-icon-end-space);
}
