mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  padding: 10px;
  border-radius: 0;
  border-right: 1px solid var(--mat-sys-outline-variant);
}

mat-sidenav-content {
  padding: 0;
}

.content {
  padding: 0 16px;

}
