<mat-card class="video-card" appearance="outlined" (click)="openDialog()">

  <img [src]="convertToSupabaseUrl(video.thumbnailPath, 'thumbnail')" alt="thumbnail"
       class="thumbnail">
  <mat-card-content>
    <div class="video-info">
      <span class="title">{{ video.title }}</span>
      <div class="video-details">
        @if (video.viewCount == 1) {
          <span class="views">{{ video.viewCount }} view</span>
        } @else {
          <span class="views">{{ video.viewCount }} views</span>
        }
        <span class="date">{{ video.createdAt | date }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>



