<mat-dialog-content class="follow-container">
  <mat-tab-group animationDuration="0ms" [selectedIndex]="selectedIndex">
    <mat-tab label="Followers">
      @for (item of followers; track item.id) {
        <div class="user-container">
          <div class="user-detail">
            <img class="user-avatar" src="{{item.imageUrl}}" alt="User Avatar">
            <span class="user-name">{{ item.username }}</span>
          </div>
          <div class="button">
            <button mat-flat-button>Follow</button>
          </div>
        </div>
      }
    </mat-tab>
    <mat-tab label="Following">
      @for (item of following; track item.id) {
        <div class="user-container">
          <div class="user-detail">
            <img class="user-avatar" src="{{item.imageUrl}}" alt="User Avatar">
            <span class="user-name">{{ item.username }}</span>
          </div>
          <div class="button">
            <button mat-flat-button>Follow</button>
          </div>
        </div>
      }
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
