<mat-dialog-content class="follow-container">
  <mat-tab-group animationDuration="0ms" [selectedIndex]="selectedIndex">
    <mat-tab label="Followers ({{ followersCount }})">
      <div class="list-scroll">
        @for (item of followers; track item.id) {
          <div class="user-container">
            <div class="user-detail">
              <img class="user-avatar" [src]="item.avatarUrl" alt="User Avatar">
              <span class="user-name">{{ item.username }}</span>

            </div>
            <div class="button">
              <button
                mat-button
                class="follow-btn"
                [class.active]="item.isFollowing"
                (click)="toggleFollow(item)">
                {{ item.isFollowing ? '✓ Following' : '+ Follow' }}
              </button>
            </div>
          </div>
        }
      </div>
    </mat-tab>
    <mat-tab label="Following ({{ followingCount }})">
      <div class="list-scroll">
        @for (item of following; track item.id) {
          <div class="user-container">
            <div class="user-detail">
              <img class="user-avatar" [src]="item.avatarUrl" alt="User Avatar">
              <span class="user-name">{{ item.username }}</span>
            </div>
            <div class="button">
              <button
                mat-button
                class="follow-btn"
                [class.active]="item.isFollowing"
                (click)="toggleFollow(item)">
                {{ item.isFollowing ? '✓ Following' : '+ Follow' }}
              </button>
            </div>
          </div>

        }
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
