<div class="user-search">
  <div class="search-header">
    <span>Users</span>
    <mat-icon [routerLink]="['/search/user']">chevron_right</mat-icon>
  </div>
  <div class="user-search-detail">
    <div class="user-search-detail-container">
      <img src="https://icons.iconarchive.com/icons/papirus-team/papirus-status/256/avatar-default-icon.png"
           alt="User profile">
      <div class="user-search-detail-stats">
        <span>Username</span>
        <span>0 followers</span>
        <span>Bio</span>
      </div>
    </div>

    <div class="button">
      <button mat-flat-button>Follow</button>
    </div>
  </div>
</div>

<div class="video-search">
  <div class="search-header">
    <span>Videos</span>
    <mat-icon [routerLink]="['/search/video']">chevron_right</mat-icon>
  </div>
  <div class="video-container">
    <div class="video-grid">
      @for (item of videoList; track item.id) {
        <mat-card class="video-card" appearance="outlined">
          <img mat-card-image class="video-thumbnail"
               src="{{item.imageUrl}}"
               alt="Video Placeholder Image">
          <mat-card-content>
            <span class="title">{{ item.title }}</span>
            <div class="video-details">
              <div class="user">
                <img class="user-avatar" src="{{item.avatar}}" alt="Username">
                <span class="user-name">{{ item.username }}</span>
              </div>
              <span class="date">{{ item.date | date }}</span>
            </div>
          </mat-card-content>
        </mat-card>
      }
    </div>
  </div>
</div>
