<!--<div class ="search-page">-->
<!--<mat-form-field class="search-bar">-->
<!--  <input matInput placeholder="Search">-->
<!--</mat-form-field>-->
<!--</div>-->

<div class="user-search">
  @if (profiles$ | async; as item) {
    <div class="search-header">
      <span>Users</span>
      <mat-icon [routerLink]="['/search/user']" [queryParams]="{ q: this.query }">chevron_right</mat-icon>
    </div>
    <div class="user-search-detail">
      <div class="user-search-detail-container">
        <img class="avatar" [src]="item.avatarPath | avatar"
             referrerpolicy="no-referrer"
             alt="User profile">
        <div class="user-search-detail-stats">
          <span>{{ item.username }}</span>
          <span>{{ item.followersCount }} followers</span>
          <span>{{ item.bio }}</span>
        </div>
      </div>

      
      <button mat-flat-button (click)="toggleFollow(item,item.isFollowing ?? false)">
        {{ item.isFollowing ? 'Unfollow' : 'Follow' }}
      </button>
    </div>
  } @else {

  }
</div>

<div class="video-search">
  <div class="search-header">
    <span>Videos</span>
    <mat-icon [routerLink]="['/search/video']" [queryParams]="{ q: this.query }">chevron_right</mat-icon>
  </div>
  <div class="video-container">
    <div class="video-grid">
      @for (item of (videos$ | async); track item.profileId) {
        <mat-card class="video-card" appearance="outlined" (click)="openDialog(item)">
          <img mat-card-image class="thumbnail"
               src="{{convertToSupabaseUrl(item.thumbnailPath,'thumbnail')}}"
               alt="Video Placeholder Image">
          <mat-card-content>
            <div class="video-info">
              <span class="title">{{ item.title }}</span>
              <div class="video-details">
                <div class="user" [routerLink]="['/profile', item.profile?.id, 'videos'] "
                     (click)="$event.stopPropagation()">
                  <img class="user-avatar" src="{{item.profile?.avatarPath | avatar}}" alt="Username">
                  <span class="user-name">{{ item.profile?.username }}</span>
                </div>
                <span class="date">{{ item.createdAt | date }}</span>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      }
    </div>
  </div>
</div>

