<div class="playlist-dialog-container">
  <div class="dialog-header">
    <h2>All Playlists</h2>
    <!--    <button mat-flat-button color="primary" (click)="openCreatePlaylistDialog()">-->
    <!--      <mat-icon>add</mat-icon>-->
    <!--      Create Playlist-->
    <!--    </button>-->
  </div>
  <div class="playlist-list">
    @if (playlists.length === 0 && !(isLoadingPlaylists$ | async)) {
      <div class="empty-message">
        <mat-icon>info</mat-icon>
        No playlists found. Create one to get started!
      </div>
    } @else {
      @for (playlist of playlists; track playlist.id) {
        <div class="playlist-card" (click)="onCardClick(playlist)">
          <img class="playlist-thumbnail" [src]="convertToSupabaseUrl(playlist.thumbnailPath,'thumbnail')"
               alt="Playlist Thumbnail">
          <div class="playlist-info">
            <div class="playlist-title">{{ playlist.title }}</div>
            <div class="playlist-status" [ngClass]="playlist.isPublic ? 'public' : 'private'">
              <mat-icon>{{ playlist.isPublic ? 'public' : 'lock' }}</mat-icon>
              <span>{{ playlist.isPublic ? 'Public' : 'Private' }}</span>
            </div>
          </div>
          <div class="playlist-checkbox" (click)="$event.stopPropagation()">
            <mat-checkbox
              [checked]="playlist.isHaveVideo"
              (change)="onCheckboxChange(playlist)"
              [disabled]="isAddingToPlaylist || isRemovingFromPlaylist"
            >
            </mat-checkbox>
          </div>
        </div>
      }
    }
  </div>
</div>
