<div class="container">
  <div class="middle-container">
    <div class="left-middle-container">
      <div class="clip">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKcoMLJm-27p7TGy6EZdZguVb24jZiNvCQQg&s"
          alt="avatar"
        >
      </div>
    </div>

    <div class="right-middle-container">
      <div class="function-of-the-button">
        <div class="avatar-wrapper">
          <div class="avatar">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKcoMLJm-27p7TGy6EZdZguVb24jZiNvCQQg&s"
              alt="avatar"
            >
          </div>

          <button mat-fab color="primary" class="add-btn">
            <mat-icon>add</mat-icon>
          </button>
        </div>


        <div class="button-item">
          <button mat-mini-fab color="accent" class="action-btn">
            <mat-icon>favorite</mat-icon>
          </button>
          <span>0</span>
        </div>

        <div class="button-item">
          <button mat-mini-fab color="accent" class="action-btn">
            <mat-icon>comment</mat-icon>
          </button>
          <span>0</span>
        </div>

        <div class="button-item">
          <button mat-mini-fab color="accent" class="action-btn">
            <mat-icon>bookmark</mat-icon>
          </button>
          <span>0</span>
        </div>

        <div class="button-item">
          <button mat-mini-fab color="accent" class="action-btn">
            <mat-icon>share</mat-icon>
          </button>
          <span>0</span>
        </div>
      </div>
    </div>
  </div>


  <div class="right-container">
    <button mat-mini-fab color="accent" class="button-up action-btn">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <button mat-mini-fab color="accent" class="button-down action-btn">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
</div>

