<mat-card class="video-card" appearance="outlined" (click)="openVideoDialog()">
  <img mat-card-image
       src="{{convertToSupabaseUrl(video.thumbnailPath, 'thumbnail')}}"
       alt="Video Placeholder Image">
  <mat-card-content>
    <div class="video-info">
      <span class="title">{{ video.title }}</span>
      <div class="video-details">
        <span class="date">{{ video.createdAt | date }}</span>
        <mat-icon (click)="openDialog()">delete</mat-icon>
      </div>
    </div>
  </mat-card-content>
</mat-card>

