<div class="sidebar-logo" [ngClass]="{ 'collapsed': collapsed }">
  <img src="logo.svg" alt="Logo"/>
</div>
<mat-nav-list>
  @for (route of routes; track $index) {
    <a
      [ngClass]="{ 'collapsed': collapsed }"
      mat-list-item [routerLink]="route.path" routerLinkActive #rla="routerLinkActive" [activated]="rla.isActive">
      <mat-icon matListItemIcon>{{ route.icon }}</mat-icon>
      @if (!collapsed) {
        <span matListItemTitle
              [style.display]="collapsed ? 'none' : ''"
        > {{ route.label }} </span>
      }
    </a>
  }

  <!--  <a mat-list-item routerLink="/home"-->
  <!--     routerLinkActive-->
  <!--     #rla="routerLinkActive"-->
  <!--     [activated]="rla.isActive">-->
  <!--    <mat-icon matListItemIcon>home</mat-icon>-->
  <!--    Home-->
  <!--  </a>-->
  <!--  <a mat-list-item routerLink="/history" routerLinkActive-->
  <!--     #rla="routerLinkActive"-->
  <!--     [activated]="rla.isActive">-->
  <!--    <mat-icon matListItemIcon>history</mat-icon>-->
  <!--    History-->
  <!--  </a>-->
  <!--  <a mat-list-item routerLink="/playlist" routerLinkActive-->
  <!--     #rla1="routerLinkActive"-->
  <!--     [activated]="rla.isActive">-->
  <!--    <mat-icon matListItemIcon>playlist_play</mat-icon>-->
  <!--    Playlist-->
  <!--  </a>-->
</mat-nav-list>
