mat-sidenav-container {
  height: 100%;
}

:host ::ng-deep .mat-list-item {
  &.collapsed {
    justify-content: center;

    .mat-list-item-content {
      padding-left: 0;
    }

    .mat-icon {
      margin: 0 auto;
      display: block;
    }
  }
}

::ng-deep .mdc-list-item.collapsed {
  display: flex;
  justify-content: center;
  padding: 0 !important;

  .mdc-list-item__content {
    display: none;
  }
}

.sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding: 16px 0;
  background: transparent;

  img {
    max-height: 32px;
    max-width: 100%;
    transition: max-width 0.2s, max-height 0.2s;
  }

  &.collapsed {
    height: 40px;
    padding: 4px 0;
    
  }
}
