<div
  style="display: flex; justify-content: space-between; position: relative; align-items: center;  gap: 8px; height: 100%">
  <div style="flex: 1; height: 100%">
    <router-outlet></router-outlet>
  </div>
  <div style="display: flex; position: absolute; right: 0; top: 6px; ">
    <button mat-button [class.active]="isManageActive()" (click)="goToManage()">Manage</button>
    <button mat-icon-button [class.active]="isGridActive()" (click)="goToGrid()">
      <mat-icon>grid_on</mat-icon>
    </button>
    <button mat-icon-button [class.active]="isListActive()" (click)="goToList()">
      <mat-icon>view_stream</mat-icon>
    </button>
  </div>
</div>

