<div
  class="wrapper"
>
  <div
    style="display: flex; justify-content: flex-end; width: 100%; position: absolute; top: 0; z-index: 10001; ">
    <button mat-button [class.active]="isManageActive()" (click)="goToManage()">Manage</button>
    <button mat-icon-button [class.active]="isGridActive()" (click)="goToGrid()">
      <mat-icon>grid_on</mat-icon>
    </button>
    <button mat-icon-button [class.active]="isListActive()" (click)="goToList()">
      <mat-icon>view_stream</mat-icon>
    </button>
  </div>

  <div style="flex: 1; height: 100%; width: 100%; padding: 8px; box-sizing: border-box;">
    <router-outlet></router-outlet>
  </div>

</div>
