.dark-medium-contrast {
  --md-sys-color-primary: rgb(163 236 199);
  --md-sys-color-surface-tint: rgb(142 213 178);
  --md-sys-color-on-primary: rgb(0 44 28);
  --md-sys-color-primary-container: rgb(88 158 126);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(201 226 211);
  --md-sys-color-on-secondary: rgb(20 42 32);
  --md-sys-color-secondary-container: rgb(126 150 136);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(186 226 245);
  --md-sys-color-on-tertiary: rgb(0 42 54);
  --md-sys-color-tertiary-container: rgb(112 150 167);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(15 21 17);
  --md-sys-color-on-background: rgb(222 228 222);
  --md-sys-color-surface: rgb(15 21 17);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(64 73 67);
  --md-sys-color-on-surface-variant: rgb(213 223 215);
  --md-sys-color-outline: rgb(171 180 173);
  --md-sys-color-outline-variant: rgb(137 147 140);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 228 222);
  --md-sys-color-inverse-on-surface: rgb(38 43 40);
  --md-sys-color-inverse-primary: rgb(0 83 56);
  --md-sys-color-primary-fixed: rgb(169 242 205);
  --md-sys-color-on-primary-fixed: rgb(0 21 11);
  --md-sys-color-primary-fixed-dim: rgb(142 213 178);
  --md-sys-color-on-primary-fixed-variant: rgb(0 63 42);
  --md-sys-color-secondary-fixed: rgb(207 233 217);
  --md-sys-color-on-secondary-fixed: rgb(1 21 12);
  --md-sys-color-secondary-fixed-dim: rgb(180 204 189);
  --md-sys-color-on-secondary-fixed-variant: rgb(37 59 48);
  --md-sys-color-tertiary-fixed: rgb(193 233 251);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 27);
  --md-sys-color-tertiary-fixed-dim: rgb(165 204 222);
  --md-sys-color-on-tertiary-fixed-variant: rgb(16 59 73);
  --md-sys-color-surface-dim: rgb(15 21 17);
  --md-sys-color-surface-bright: rgb(64 70 66);
  --md-sys-color-surface-container-lowest: rgb(4 8 6);
  --md-sys-color-surface-container-low: rgb(25 31 27);
  --md-sys-color-surface-container: rgb(35 41 38);
  --md-sys-color-surface-container-high: rgb(46 52 48);
  --md-sys-color-surface-container-highest: rgb(57 63 59);
}
