.dark {
  --md-sys-color-primary: rgb(142 213 178);
  --md-sys-color-surface-tint: rgb(142 213 178);
  --md-sys-color-on-primary: rgb(0 56 37);
  --md-sys-color-primary-container: rgb(0 81 55);
  --md-sys-color-on-primary-container: rgb(169 242 205);
  --md-sys-color-secondary: rgb(180 204 189);
  --md-sys-color-on-secondary: rgb(31 53 42);
  --md-sys-color-secondary-container: rgb(54 75 64);
  --md-sys-color-on-secondary-container: rgb(207 233 217);
  --md-sys-color-tertiary: rgb(165 204 222);
  --md-sys-color-on-tertiary: rgb(7 53 67);
  --md-sys-color-tertiary-container: rgb(36 76 90);
  --md-sys-color-on-tertiary-container: rgb(193 233 251);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(15 21 17);
  --md-sys-color-on-background: rgb(222 228 222);
  --md-sys-color-surface: rgb(15 21 17);
  --md-sys-color-on-surface: rgb(222 228 222);
  --md-sys-color-surface-variant: rgb(64 73 67);
  --md-sys-color-on-surface-variant: rgb(191 201 193);
  --md-sys-color-outline: rgb(138 147 140);
  --md-sys-color-outline-variant: rgb(64 73 67);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 228 222);
  --md-sys-color-inverse-on-surface: rgb(44 50 46);
  --md-sys-color-inverse-primary: rgb(33 106 77);
  --md-sys-color-primary-fixed: rgb(169 242 205);
  --md-sys-color-on-primary-fixed: rgb(0 33 20);
  --md-sys-color-primary-fixed-dim: rgb(142 213 178);
  --md-sys-color-on-primary-fixed-variant: rgb(0 81 55);
  --md-sys-color-secondary-fixed: rgb(207 233 217);
  --md-sys-color-on-secondary-fixed: rgb(10 31 22);
  --md-sys-color-secondary-fixed-dim: rgb(180 204 189);
  --md-sys-color-on-secondary-fixed-variant: rgb(54 75 64);
  --md-sys-color-tertiary-fixed: rgb(193 233 251);
  --md-sys-color-on-tertiary-fixed: rgb(0 31 41);
  --md-sys-color-tertiary-fixed-dim: rgb(165 204 222);
  --md-sys-color-on-tertiary-fixed-variant: rgb(36 76 90);
  --md-sys-color-surface-dim: rgb(15 21 17);
  --md-sys-color-surface-bright: rgb(53 59 55);
  --md-sys-color-surface-container-lowest: rgb(10 15 12);
  --md-sys-color-surface-container-low: rgb(23 29 25);
  --md-sys-color-surface-container: rgb(27 33 29);
  --md-sys-color-surface-container-high: rgb(37 43 40);
  --md-sys-color-surface-container-highest: rgb(48 54 50);
}
