<div class="box">
  <mat-chip-set>
    <mat-chip
      (click)="toggleChip(null)"
      [class.selected]="!selectedChip">
      ALL
    </mat-chip>

    @for (cat of categories$ | async; track cat.id) {
      <mat-chip
        (click)="toggleChip(cat.id)"
        [class.selected]="selectedChip === cat.id">
        {{ cat.name }}
      </mat-chip>
    }
  </mat-chip-set>
</div>

<div class="exploring-container" #scrollContainer>
  @if (isLoading$ | async) {
    <p class="loading">Loading...</p>
  } @else  {
    <app-thumbnail-list [videos$]="this.videos$ "></app-thumbnail-list>

  }
</div>
