<mat-card class="playlist-card" appearance="outlined" (click)="navigateToPlaylistDetail(playlist.id)">
  @if (playlist.thumbnailPath) {
    <img mat-card-image src="{{convertToSupabaseUrl(playlist.thumbnailPath, 'thumbnail')}}" alt="{{playlist.title}}">
  } @else {
    <img mat-card-image src="" alt="Playlist Thumbnail"/>
  }

  <mat-card-content>
    <div class="playlist-details">
      <!--      <span class="title">{{ playlist.title }}</span>-->
      <!--      @if (playlist.videos.length == 1) {-->
      <!--        <span>{{ playlist.videos.length }} Video</span>-->
      <!--      } @else {-->
      <!--        <span>{{ playlist.videos.length }} Videos</span>-->
      <!--      }-->

    </div>
    <div class="playlist-visible">
      @if (playlist.isPublic) {
        <mat-icon>lock</mat-icon>
      } @else if (!playlist.isPublic) {
        <mat-icon>language</mat-icon>
      }
      <span class="date">{{ playlist.createdAt | date }}</span>
    </div>

  </mat-card-content>
</mat-card>
