.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;

  .left-container,
  .right-container {
    flex: 1;
    padding: 20px;
  }

  .left-container {
    h2 {
      margin-bottom: 15px;
      font-size: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;


      .mat-mdc-form-field {
        width: 100%;
      }

      textarea{
        resize: none;
        height: 150px;
        line-height: 1.5;
      }

      .privacy {
        display: flex;
        align-items: center;
        gap: 15px;

        span {
          font-weight: bold;
        }
      }

      .btn-upload {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 10px;
        border: none;
        border-radius: 8px;
        background-color: #1e7e34;
        color: white;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        transition: background 0.2s;

        &:hover {
          background-color: #2d6b46;
        }
      }
    }
  }

  .right-container {
    .thumbnail-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      h2 {
        font-size: 20px;
      }

      .btn-thumbnail {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 12px;
        border: none;
        border-radius: 8px;
        background-color: #1e7e34;
        color: white;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        transition: background 0.2s;

        &:hover {
          background-color: #2d6b46;
        }
      }
    }

    .thumbnail-preview {
      position: relative;
      width: 100%;
      overflow: hidden;

      img {
        width: 100%;
        display: block;
        border-radius: 8px;
      }

      .btn-choose {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.3s ease;
        pointer-events: none;
      }

      &:hover .btn-choose {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}
